body {
    margin: 0;
    background: #c0d8eb;
    background: linear-gradient(to bottom, #c0d8eb 0%, #7aa6c9 40%, #08466c 100%);
    padding: 50px;
} section {
    background-color: #09416f;
    width: 1200px;
    margin: 25px auto;
    color:#e2e2e2;
    padding: 25px;
    box-sizing: border-box;
} button {
    background-color: #e2e0bc;
    color: #202020;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.5);
    transition-duration: 0.2s;
} button:hover {
    background-color: #f0e68d;
    color: #000000;
    cursor: pointer;
    transform: scale(1.1);
} header {
    background-color: #156a9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    color: #c0d8eb;
} nav {
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 20px;
} nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 15px;
    cursor: pointer;
} nav a:hover {
    color: #007BFF;
}